.example-spacer {
  flex: 1 1 auto;
}

.menu {
  background-color: #00a1e9;
  height: 100px;
}

.example-icon,
.menu-icon {
  color: #fff;
}

#logo {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: column !important;
}

.example-card {
  max-width: 100%;
  margin: 15px;
}

.example-header-image {
  background-image: url('./../../../public/images/secid-azul.png');
  background-size: cover;
}

.carousel-container {
  padding: 15px;
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;

  .carousel-content {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    .slide {
      display: none;
      width: 100%;
      height: 100%;

      &.active {
        display: block;
        animation: fadeIn 0.5s ease-in-out;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    color: white;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .indicators {
    text-align: center;
    padding: 10px;

    .dot {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;

      &.active {
        background-color: #3f51b5;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.schedule-button {
  width: 100% !important;
}

.mat-mdc-card {
  margin: 10px;
}

.mat-mdc-card-header {
  background-color: #1976d2 !important;
  color: white !important;
  border-radius: 8px 8px 0 0;
}

.mat-mdc-card-subtitle {
  color: #fff;
}

.load-schedules-button {
  margin: 15px auto;
  display: block;
  width: 300px;
}

.remove-schedule-button {
  background-color: rgb(254, 182, 156) !important;
  color: rgb(92, 14, 0);
  font-weight: bolder !important;
  border: 2px solid rgb(253, 105, 92) !important;
}

.remove-schedule-icon {
  color: rgb(92, 14, 0);
}

/* Container do Alerta */
.alert-info {
  background-color: #e3f2fd; /* Azul claro de informação */
  border-left: 5px solid #2196f3; /* Barra lateral para destaque */
  margin: 20px 0;
  box-shadow: none !important; /* Remove sombra exagerada para parecer um alerta */
  border-radius: 8px;
}

/* Alinhamento dos itens */
.alert-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px !important;
}

/* Alinhamento do Ícone com o Texto */
.alert-message {
  display: flex;
  align-items: center;
  gap: 12px;
}

.alert-message p {
  margin: 0;
  font-weight: 500;
  color: #0d47a1; /* Azul escuro para contraste no texto */
}

.alert-message mat-icon {
  font-size: 28px;
  width: 28px;
  height: 28px;
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
  .alert-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-agendar {
    width: 100%;
  }
}

.info-card {
  max-width: 500px;
  margin: 20px auto;
  border-left: 5px solid #f44336; /* Cor de destaque (warn) */
  background-color: #fffcfc;
}

.info-container {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  padding-top: 8px;
}

.info-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
  padding-right: 15px;
}

.info-text {
  h3 {
    margin: 0 0 8px 0;
    color: #333;
    font-weight: 600;
  }

  p {
    margin: 0 0 8px 0;
    line-height: 1.5;
    color: #555;
  }

  .instruction {
    font-size: 0.9rem;
    font-style: italic;
  }
}

mat-card-actions {
  padding: 8px 16px !important;
}
