.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Impede que cliques rápidos selecionem textos ao redor do card */
  user-select: none;
  margin: 15px;
  margin-top: -10px;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.login-logo {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 25px;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.login-button {
  height: 48px;
  margin-top: 1rem;
}

/* Garante que o spinner fique centralizado dentro do botão */
mat-spinner {
  margin: 0 auto;
}

.login-container,
.mat-mdc-button,
.mat-mdc-raised-button {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
  /* Padrão moderno */
}

.mat-mdc-chip-set .mdc-evolution-chip {
    margin: 4px 0 4px 8px;
    display: block;
    margin: 0 auto;
    margin-top: -150px;
}
