<mat-toolbar class="menu">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <a mat-menu-item href="/inicio">
      <mat-icon>house</mat-icon>
      <span>Início</span>
    </a>
    <a mat-menu-item href="/meus-agendamentos">
      <mat-icon>event_available</mat-icon>
      <span>Meus Agendamentos</span>
    </a>
    <button mat-menu-item>
      <mat-icon>badge</mat-icon>
      <span>Meus Dados</span>
    </button>
    @if (user.type === 'administrator') {
    <a mat-menu-item href="/admin">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Administrador</span>
    </a>
    }
    <a mat-menu-item href="https://www.verao.pr.gov.br/" target="_blank">
      <mat-icon>beach_access</mat-icon>
      <span>Verão Maior 2026</span>
    </a>
  </mat-menu>

  <span id="logo">
    <img src="images/verao-maior-menu.png" style="width: 220px" alt="Logo Verão Maior" />
  </span>

  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon class="menu-icon">account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon class="material-icons-outlined">account_circle</mat-icon>
      <span>{{ user.name }}</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>SAIR</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-toolbar color="primary">
  <span>Agendar um horário</span>
</mat-toolbar>

<div class="form-container">
  <br />
  <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome de Usuário</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Espaço Desejado</mat-label>
      <mat-select formControlName="selectedSpace" (selectionChange)="getResources($event)">
        <mat-option [value]="null">-- SELECIONE O EVENTO --</mat-option>
        @for (space of spaces; track space.value) {
        <mat-option [value]="space.value">{{ space.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (scheduleForm.controls.selectedSpace.value) { @if (isCurrentSpaceBooked()) {
    <div class="alert-info">
      <mat-icon>info</mat-icon>
      <p>
        Você já possui um agendamento ativo para
        <strong>{{ scheduleForm.controls.selectedSpace.value }}</strong
        >.
      </p>
    </div>
    <div class="navigation-wrapper">
      <a mat-flat-button color="primary" class="btn-schedule-history" href="/meus-agendamentos">
        <mat-icon>calendar_month</mat-icon>
        <span>VER MEUS AGENDAMENTOS</span>
      </a>
    </div>
    } @else {
    <mat-form-field appearance="outline" class="full-width">
      <mat-label style="margin-left: 15px">Horários Disponíveis</mat-label>
      <mat-select formControlName="hour">
        <div class="search-container">
          <mat-form-field appearance="fill" class="search-field">
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              placeholder="Pesquisar data/hora..."
              (input)="updateSearch($event)"
              (keydown)="$event.stopPropagation()"
            />
          </mat-form-field>
        </div>

        @for (schedule of scheduleFilter(); track schedule._id) {
        <mat-option [value]="schedule._id">
          {{ schedule.date | date : 'dd/MM/yyyy HH:mm' : 'UTC' }}
        </mat-option>
        } @empty {
        <mat-option disabled>Nenhum horário livre encontrado.</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="actions">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="btn-submit"
        [disabled]="scheduleForm.invalid || isLoading() || isCurrentSpaceBooked()"
      >
        <mat-icon>calendar_today</mat-icon>
        CONFIRMAR AGENDAMENTO
      </button>
    </div>
    } }
  </form>
</div>
