.example-spacer {
    flex: 1 1 auto;
}

.menu {
    background-color: #00a1e9;
    height: 100px;
}

.example-icon {
    color: #fff;
}

#logo {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: column !important;
}

.example-card {
    max-width: 100%;
    margin: 15px;
}

.example-header-image {
    background-image: url('./../../../public/images/secid-azul.png');
    background-size: cover;
}

.carousel-container {
    padding: 15px;
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;

    .carousel-content {
        position: relative;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;

        .slide {
            display: none;
            width: 100%;
            height: 100%;

            &.active {
                display: block;
                animation: fadeIn 0.5s ease-in-out;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.3);
        color: white;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .indicators {
        text-align: center;
        padding: 10px;

        .dot {
            height: 10px;
            width: 10px;
            margin: 0 5px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;

            &.active {
                background-color: #3f51b5;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.schedule-button {
    width: 100% !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Garante que fique acima de tudo */
}
